<link rel="stylesheet" href="/nav.css">
<nav>
  <div class="menu">
    <ul>
      <li><a href="/#home"><i class="fas fa-home"></i>Home</a></li>
      <li><div class="dropdown">
            <a href="/#about">About</a>
            <!-- <div class="dropdown-content">
              <a href="#">Services</a>
              <a href="#">FaQ</a>
            </div> -->
          </div>
      </li>
      
      <li><a href="/#services"><i class="fas fa-services"></i>Services</a></li>
      <li><a href="/#faqs"><i class="fas fa-faqs"></i>FAQs</a></li>

      <li><a href="/helpdesk"><i class="fa fa-phone-squares"></i>Contact Us</a></li>
      <li><a href="/register"><i class="fa fa-registered"></i>Register</a></li>
      <li>
        <div class="dropdown">
          <a href="#"><i class="fa fa-fw fa-user"></i>Login</a>
          <!-- <button class="dropbtn"></button> -->
          <div class="dropdown-content">
            <a href="/login">Authority</a>
            <a href="/login">Passenger</a>
          </div>
        </div>
      </li>
    </ul>
  </div>  
</nav>