<link rel="stylesheet" href="/header.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
<header class="main-header clearfix" role="header">
    <div class="logo"><center>
      <img src="https://www.pngkit.com/png/detail/144-1445067_bus-clipart-logo-travel-bus-logo-png.png" width="90px" height="40px"><br>
      SMART FARE</center>
    </div>
    <%- include('officer_nav') %>
</header>