<link rel="stylesheet" href="/nav.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<nav>
  <div class="menu">
    <ul>
      <li>
        <div class="dropdown">
          <a href="#" class="dropbtn"><i class="fa fa-address-book-o"></i> My Account</a>
          <div class="dropdown-content">
            <a href="/passenger/profile"> Profile </a>
            <a href="/passenger/update_pass"> Change Password </a>
            <a href="/status"><i class="fa fa-address-book-o"></i> Application Status</a>
          </div>
        </div>
      </li>
      <!-- <li><a href="#"><i class="fa fa-bookmark-o"> Dashboard</i></a></li> -->
      <li><a href="/passenger/travel"><i class="fa fa-bus"> Travel History</i></a></li>
      <li><a href="/passenger/wallet"><i class="fa fa-credit-card"> My Wallet</i></a></li>
      <li><a href="/passenger/helpdesk"><i class="fa fa-phone-square"> Help Desk</i></a></li>
      <li><br><p><i class="fa fa-address-book-o"></i> Welcome <%- user.name %></p>
      <a href="/auth/logout"><i class="fa fa-sign-out"> Log Out </i></a></li>
    </ul>
  </div>
</nav>