<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Password Recovery Page</title>
        <link rel="stylesheet" href="stylePassbook.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
      </head>
      <body>
        <div class="container">
            <div class="title"><b>Wallet</b></div>
            <form>
              <label><b>UserId:</b></label>
                <input type="text"  name="UserId/Email" required> <br>  
                <label><b>Current Balance:</b></label>
                <input type="text"  name="Balance" required> <br>      
                <!-- <input type="submit" value="Generate OTP">
                <input type="submit" value="Re-send OTP"> -->
      </body>
</html>
