<!DOCTYPE html>    
<html>    
<head>    
    <title>Revenue</title>    
    <link rel="stylesheet" type="text/css" href="Revenue.css">    
</head>    
<body>    
    <h2>Revenue</h2><br>    
    <div class="login">    
    <form id="login" method="get" action="login.php"> 
        
        <label> <b>  
            Select button : 
            </b> 
            </label>   
            <select>  
            <option value="ID">By User Id</option>  
            <option value="ID">By Card number</option>  
            </select>
            <br> <br>
        


        <label><b>Enter Credential    
        </b>    
        </label>    
        <input type="text" name="Credential" id="Credential" placeholder="Enter Credential">    
        <br><br>    
        <label><b>Enter Amount     
        </b>    
        </label>    
        <input type="number" name="Amount" id="Amount" placeholder="Enter Amount">    
        <br><br> 
	 <label> <b>  
            Select button : 
            </b> 
            </label>   
            <select>  
            <option value="ID">Collect</option>  
            <option value="ID">Return</option>  
            </select>
            <br> <br>    
        <input type="button" name="log" id="Submit" value="Submit">       
        <br><br> 
        
          
    </form>     
</div>    
</body>    
</html>   