<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Update Password</title>
  <link rel="stylesheet" href="/update_pass.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
</head>
<body>
<%  if(user.role=="passenger"){ %>
  <%- include('pass_header') %>
<%  }else if(user.role == "officer"){ %>
  <%- include('officer_header') %>
<%  } %>
  <div class="container">
    <div class="title">Update Password</div>
<%  if(user.role=="passenger"){ %>
    <form action="/passenger/updatePass" method="post">
<%  }else if(user.role == "officer"){ %>
  <form action="/officer/updatePass" method="post">
<%  } %>
      <label><b>Create New Password:</b></label>
      <input type="password" placeholder="Enter New Password" name="password" required> <br> <br>
      <label><b>Confirm New Password:</b></label>
      <input type="password" placeholder="Re-enter New Password" name="passwordConfirm" required><br><br>
      <input type="Submit" value="Submit">
    </form>  
  </div>
<%- include('footer') %>
</body>
</html> 