<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Post Login Section</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/welcome.css">
</head>
<body>
<%- include('pass_header') %>
    <div class="service">
        <div class="max-width">
            <h1>SERVICES</h1>
            <div class="content">
                <div class="card">
                    <div class="box">
                        <i class="fa fa-address-book-o"></i>
                        <h3>My Account</h3><br>
                        <!-- <div class="dropdown">
                            <button class="dropbtn"></button>
                            <div class="dropdown-content">
                                <a href="#">Profile</a> <br><br>
                                <a href="#">Change Password</a>
                            
                            </div>
                            </div> -->
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <i class="fa fa-bookmark-o"></i>
                        <h3>Dashboard</h3>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <i class="fa fa-bus"></i>
                        <h3>Travel History</h3>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <i class="fa fa-credit-card"></i>
                        <h3>Wallet</h3>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <i class="fa fa-phone-square"></i>
                        <h3>Help Desk</h3>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <i class="fa fa-sign-out"></i>
                        <h3>Logout</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('footer') %>
</body>
</html>